<h2>ユーザーから投稿頂いた映画情報を掲載してます。気になっている映画の参考にどうぞ。</h2>
  <br><br>
   <% @movies.each do |movie| %>
   <div class="container">
    <div class="row">
      <div class="card" style="width: 1000px; height: 150px; border: 2px solid; margin: 10px">
        <span>
          <% if movie.user.image.attached? %>
           <%= image_tag movie.user.image, size: "50x50" ,class: "rounded-circle" %>
          <% else %>
            <%= image_tag 'no_image', size: "50x50" %>
          <% end %>
          <%= movie.user.name %>さんからの投稿
        </span>
          映画のタイトル
          <%= movie.title %><br>
          <%= movie.body %>
            <div id="favorite_buttons_<%= movie.id %>">
              <%= render "public/favorites/favorite", movie: movie %>
            </div>
            <div class="d-flex align-items-end">
              <%= movie.created_at %>
            </div>
      </div>
    </div>
  </div>
<% end %>
<div class="container">
  <div class="row">
    <font size="5"><%= paginate @movies %></font>
  </div>
</div>
