<div class="container" style="height: 2100px">
  <div class="row">
    <div class="mx-auto">
        <h1>ようこそ、commovieへ！</h1><br><br>
        <h3>このサイトは映画の情報や感想などを投稿したり共有出来たりするコミュニティサイトです。<br><br>
        <strong>会員でない方は</strong>、映画の情報や感想の閲覧、投稿が行えません。映画の情報や感想の閲覧、投稿するには<br><br>
        <strong>会員登録が必要になります</strong>。</h3>
    </div>
  </div><br><br>
    <div class= "form-inline" >
      <h4 style="color: blue">管理人おすすめ映画　　　↓　　下へスクロール</h4>
    </div>

     <div style="margin-bottom: 100px"></div>
       <div class="row">
         <div class="d-flex flex-column">


          <div class="p-2 bd-highlight">
          <%= image_tag 'd2b697b8c5e98aeb37b4caa48729b5ca.png', size: "50x50" %>
          <%#= image_tag 'd2b697b8c5e98aeb37b4caa48729b5ca', size: "50x50" %>
                      <h2>LIFE！/ライフ</h2>
                       <div style="margin-left: 20px; color: blue">
                        <h4>上映日：2014年03月19日</h4>
                        <h4>ジャンル：ドラマ・アドベンチャー・冒険</h4>
                       </div>
              <div class= "form-inline" >
                            <div>
                               <%#= image_tag "7387030e5a5600726e5309496353969a_t.jpeg",size: "100x150" %>
                               <%= image_tag '7387030e5a5600726e5309496353969a_t.jpeg', size: "100x150" %>
                               <br><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-clock" viewBox="0 0 16 16">
                              <path d="M8 3.5a.5.5 0 0 0-1 0V9a.5.5 0 0 0 .252.434l3.5 2a.5.5 0 0 0 .496-.868L8 8.71V3.5z"/>
                              <path d="M8 16A8 8 0 1 0 8 0a8 8 0 0 0 0 16zm7-8A7 7 0 1 1 1 8a7 7 0 0 1 14 0z"/>
                              </svg>114分
                            </div>
                  <div class="card, form-inline" style="width: 800px; height: 250px; margin-left: 180px"><br><br>
                    <h4><strong>あらすじ</strong></h4><br>
                      主人公ウォルター・ミティはLIFE誌の写真管理部門で働いている。長い歴史を持つこの雑誌も廃刊が決まり、最終号の準備に追われる日々。
                      そんなウォルターの身に大事件が起きる。最終号の表紙を飾る写真がどうしても見つからない。運悪く、撮影した写真家は世界を放浪しながら写真を送ってくるのが常で、
                      今も世界のどこにいるのか判らない。ウォルターは写真家に会うために現実の冒険をすることに…。
                      <br><br>
                      <h4><strong>感想</strong></h4><br>
                      話の前半はパッとしない主人公ですが写真家を追っていく冒険をするたびにだんだんかっこよく見えてきます。映画に出てくるBGMや映像も凄く綺麗で壮大です。
                      コメディ要素もあり感動もできるそして<strong>冒険に出たくなる</strong>ような映画です。
                  </div>
              </div>
          </div>

        <div style="margin: 100px 0px; ">
          <div class="p-2 bd-highlight"> <%= image_tag 'bde6ddc8a65ea5436bed9ac7600eba05.png', size: "50x50" %>
                      <h2>インターステラー</h2>
                       <div style="margin-left: 20px; color: blue">
                        <h4>上映日：2014年011月22日</h4>
                        <h4>ジャンル：SF・アドベンチャー </h4>
                       </div>
              <div class= "form-inline" >
                            <div>
                               <%= image_tag "7387030e5a5600726e5309496353969a_t.jpeg",size: "100x150" %>
                               <br><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-clock" viewBox="0 0 16 16">
                              <path d="M8 3.5a.5.5 0 0 0-1 0V9a.5.5 0 0 0 .252.434l3.5 2a.5.5 0 0 0 .496-.868L8 8.71V3.5z"/>
                              <path d="M8 16A8 8 0 1 0 8 0a8 8 0 0 0 0 16zm7-8A7 7 0 1 1 1 8a7 7 0 0 1 14 0z"/>
                              </svg>169分
                            </div>
                  <div class="card, form-inline" style="width: 800px; height: 250px; margin-left: 180px"><br><br>
                    <h4><strong>あらすじ</strong></h4><br>
                    地球の寿命は尽きかけていた。居住可能な新たな惑星を探すというたミッションに選ばれたのは、まだ幼い子供を持つ元エンジニアの男クーパー。
                    彼を待っていたのは、未だかつて誰も見たことがない、衝撃の宇宙。はたして彼は人類の存続をかけたミッションを成し遂げることが出来るのか？
                      <br><br>
                      <h4><strong>感想</strong></h4><br>
                      SFが好きな人におすすめの作品です。かなり複雑で相対性理論だったり４次元や５次元といった話が出てきて少し難しい話が出てきますが、
                      映像がとても綺麗でSFなのに人類の愛というテーマで描いてるという作品で非常に感動できる作品です。
                      伏線が多く存在して伏線を回収して行くところが見ていて気持ちがいいです。
                  </div>
              </div>
          </div>
        </div>



        <div class="p-2 bd-highlight"> <%= image_tag 'b211351e2eabde63f5c8656807735a5b.png', size: "50x50" %>
                      <h2>スタンド・バイ・ミー</h2>
                       <div style="margin-left: 20px; color: blue">
                        <h4>上映日： 1987年4月18日</h4>
                        <h4>ジャンル：サスペンス・ドラマ・アドベンチャー</h4>
                       </div>
              <div class= "form-inline" >
                            <div>
                               <%= image_tag "7387030e5a5600726e5309496353969a_t.jpeg",size: "100x150" %>
                               <br><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-clock" viewBox="0 0 16 16">
                              <path d="M8 3.5a.5.5 0 0 0-1 0V9a.5.5 0 0 0 .252.434l3.5 2a.5.5 0 0 0 .496-.868L8 8.71V3.5z"/>
                              <path d="M8 16A8 8 0 1 0 8 0a8 8 0 0 0 0 16zm7-8A7 7 0 1 1 1 8a7 7 0 0 1 14 0z"/>
                              </svg>114分
                            </div>
                  <div class="card, form-inline" style="width: 800px; height: 250px; margin-left: 180px"><br><br>
                    <h4><strong>あらすじ</strong></h4><br>
                     オレゴン州の田舎町。12歳の少年4人は、性格も個性も異なっていたが仲良しで、いつも一緒に遊んでいた。そんなある日、
                     行方不明の少年の死体が線路上に放置されているとの噂を聞きつけた彼らは、
                     死体探しの旅に出かける。途中で喧嘩をしながらも、少年たちは助け合いながら、鉄道の線路に沿って冒険のような旅を続ける。

                      <br><br>
                      <h4><strong>感想</strong></h4><br>
                        昔から愛されてる名作。少年たちの成長と感動の物語。これを観ると子供に戻りたくなります。
                        映画に使ってる音楽が楽しげでコメディ要素もありとてもこの作品に没入できます。
                  </div>
              </div>
          </div>
           <div style="margin-bottom: 100px" ></div>
      </div>
    </div>
  </div>
</div>


