<div class="container">
  <div class="row">
    <div class="mx-auto col-11 col-sm-10 col-lg-8 col-xl-6">
     <h1 style="font-size: 50px;">マイページ</h1>
      <h3 style="color: blue;">登録情報</h3>

        <% if @user.image.attached? %>
         <%= image_tag @user.image, size: "100x100", class: "rounded-circle", size: "100x100" %>
        <% else %>
          <%= image_tag 'no_image', size: "100x100" %>
        <% end %>
        <br><br>
        <table border "1" style= "width: 400px; height: 50px; text-align: center">
         <tr>
            <td>
               氏名
            </td>
            <td>
              <%= @user.name %>
            </td>
          </tr>
          <tr>
            <td>
               メールアドレス
            </td>
            <td>
              <%= @user.email %>
            </td>
          </tr>
        </table>
         <p id="notice"></p>
         <div style= "font-size: 25px;">

          <%= link_to "編集する", edit_public_user_path, class: "btn btn-info btn-sm btn-block mb-3 "%>
          <%= link_to "お気に入り", filmfavorites_public_user_path(@user),class: "btn btn-warning btn-sm btn-block mb-3" %>
          <%= link_to "退会する", public_unsubscribe_path(current_user), class: "btn btn-danger btn-sm btn-block mb-3" %>

         </div>
      <% if @user.name != "guestuser" %>
        <div class='row'>
         <%= link_to '', edit_public_user_path %>
         <%= link_to '', public_unsubscribe_path %>
        </div>
      <% end %>

    </div>
  </div>
</div>



