<!DOCTYPE html>
<html>
  <head>
    <title>Eiga</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
　<h2><%= link_to "commovie", root_path %></h2>
    <% if user_signed_in? %>

    <li class="nav-item m-3">
      <%= link_to "ログアウト", destroy_user_session_path, method: :delete %>
    </li>

    <li class="nav-item m-3">
      <%= link_to "マイページ", public_users_path(current_user) %>
    </li>

    <% elsif admin_signed_in? %>

    <li class="nav-item m-3">
      <%= link_to "About", about_path, class: 'btn btn-outline-secondary' %>
    </li>
    <li class="nav-item m-3">
      <%= link_to "ログアウト", destroy_admin_session_path, method: :delete, class: 'btn btn-outline-secondary' %>
    </li>

    <% else %>
　　<li class="nav-item m-3">
      <%= link_to "新規登録", new_user_registration_path, class: 'btn btn-outline-secondary' %>
    </li>
    <li class="nav-item m-3">
      <%= link_to "About", public_about_path, class: 'btn btn-outline-secondary' %>
    </li>

    <li class="nav-item m-3">
      <%= link_to "ログイン", new_user_session_path, class: 'btn btn-outline-secondary' %>
    </li>
    <% end %>
  </ul>
  </div>
</header>

    <%= yield %>
  </body>

<footer></footer>
</html>
